.anasayfa {
    height: 100vh;
 

}

a {
    cursor: pointer;
}

.col-3 a:hover {
    cursor: pointer; /* Hover durumunda pointer'ı gösterir */
  }
  
.col-3 div {
    cursor: pointer;
}
.col-3 ul {
    padding-left: 0; /* Liste içeriğinin sol boşluğunu sıfırla */
}

.col-3 h4 {
    margin-bottom: 0.5rem; /* Başlık altındaki boşluğu ayarla */
}

.col-3 ul li {
    list-style: none; /* Madde işaretlerini kaldır */
    margin-bottom: 0.5rem; /* Liste öğeleri arasına boşluk ekle */
}
.carousel-item {
    width: 100vh;
    height: 100vh;
    overflow: hidden;
}

.uc {
    position: absolute;
    top: 500px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    margin: auto;
}
.nav-item{
    margin: 0px 10px 0px 10px;
}

.logo {
    width: 190px;
}
 .urun img {
    width: 300; height: 200px; background-color: grey;
    margin: 20px 100px 20px 0px;
    transition: all 0.3s;
    cursor: pointer;
}

.urun img:hover {
    filter: brightness(0.5);
}

.row p {
    margin-right: 50px;
}

.ortak img {
    width: 270px; height: 200px; background-color: grey;
    margin: 20px 100px 20px 0px;
    transition: all 0.3s;
    cursor: pointer;
}

.ortak img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}


.whatsapp {
    --offset: 50px; 
  
    position: sticky;
    bottom: 20px;      
    margin: 20px;
    place-self: end;
    margin-top: calc(100vh + var(--offset));
  
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #25d366;
    border-radius: 100px;
    white-space: nowrap;
  }

  .bas {
    --offset: 50px; 
  
    position: sticky;
    bottom: 20px;      
    place-self: end;
    margin-top: calc(100vh + var(--offset));
  
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: rgb(60, 60, 60, 0.7);
    white-space: nowrap;
  }


  .navbar-nav .nav-link {
    position: relative;
    padding-bottom: 5px;
    color: black;
    text-decoration: none;
  }
  
  .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #000;
    transition: width 0.3s ease, right 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover::after {
    width: 100%;
    right: 0;
  }
  
  html,
body {
  scroll-behavior: smooth;
}
#sepet-baslik{
    margin-top: 200px;
  }
  #sepet-container{
    margin-bottom: 100px;
  }
  .arac_kutu {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.col-3 {
    max-width: 400px;
    padding: 0 10px; /* Her bir div arasında boşluk bırakmak için */
}
